{% extends 'siteweb/Universite/baseU.html' %}

{% block page %}
<!-- ======= Hero Section ======= -->
<section id="hero" class="hero">
    <div class="container position-relative">
        <div class="row gy-5" data-aos="fade-in">
            <div
                class="col-lg-6 order-2 order-lg-1 d-flex flex-column justify-content-center text-center text-lg-start">
                <h2>Bienvenue sur <span>UniCursus</span></h2>
                <h4>{{university.name}}</h4>
                <p>Le meilleur site qui vous aide à gérer vos étudiants par filière et par faculté ou école.</p>
            </div>
            <div class="col-lg-6 order-1 order-lg-2">
                <img src="static/img/hero-img.svg" class="img-fluid" alt="" data-aos="zoom-out" data-aos-delay="100">
            </div>
        </div>
    </div>

</section>
<!-- End Hero Section -->
{% endblock %}