{% extends 'siteweb/Universite/baseU.html' %}

{% load custom_tags %}{% load custom_filters %}

{% block title %}{{ filiere.sigle }} - {{ faculty.sigle }} - UniCursus{% endblock %}

{% block page %}
<!-- ======= Hero Section ======= -->
<section id="hero" class="hero">
    <div class="container position-relative">
        <div class="row gy-5" data-aos="fade-in">
            <div
                class="col-lg-6 order-2 order-lg-1 d-flex flex-column justify-content-center text-center text-lg-start">
                <h4>{{university.name}}</h4>
                <h3 class="text-white">{{ filiere.name }} - {{ faculty.sigle }}</h3>
            </div>
            <div class="col-lg-6 order-1 order-lg-2 text-end">
                <button type="button" class="btn btn-primary mb-3" data-bs-toggle="modal"
                    data-bs-target="#addYearModal">
                    Ajouter une nouvelle année
                </button>
                <button type="button" class="btn btn-primary mb-3" data-bs-toggle="modal"
                    data-bs-target="#inscriptionModal">
                    Inscrire un étudiant en {{ filiere.sigle }}
                </button>
            </div>
        </div>
    </div>
</section>
<!-- End Hero Section -->

<!-- Section des Étudiants -->
<section id="students" class="container">
    <div class="accordion" id="accordionStudents">
        {% if ues_by_year %}
        {% for year in ues_by_year %}
        <div class="card">
            <div class="card-header row justify-content-between" id="heading{{ year }}">
                <h3 class="mb-0 col">
                    <button class="btn btn-link" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapse{{ year }}" aria-expanded="true" aria-controls="collapse{{ year }}">
                        {% if year|equal:1 %}
                        Première année
                        {% elif year|equal:2 %}
                        Deuxième année
                        {% elif year|equal:3 %}
                        Troisième année
                        {% elif year|equal:4 %}
                        Quatrième année
                        {% elif year|equal:5 %}
                        Cinquième année
                        {% elif year|equal:6 %}
                        Sixième année
                        {% elif year|equal:7 %}
                        Septième année
                        {% endif %}
                    </button>
                </h3>
                <div class="col text-end">
                    <a href="{% url 'manage_ue' filiere.id year %}" class="btn btn-info">Gérer les UEs ici</a>
                </div>
            </div>

            <div id="collapse{{ year }}" class="collapse" aria-labelledby="heading{{ year }}"
                data-bs-parent="#accordionStudents">
                <div class="card-body p-5">
                    {% if students_by_year|get_dic:year %}
                    <table class="table table-striped mb-5">
                        <thead>
                            <tr>
                                <th class="col-2 text-center">Matricule</th>
                                <th class="col-4 text-center">Nom & Prénoms</th>
                                <th class="col-2 text-center">Email</th>
                                <th class="col-2 text-center">Téléphone</th>
                                <th class="col-1 text-center">Statut</th>
                                <th class="col-1 text-center">Notes</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for student in students_by_year|get_dic:year %}
                            <tr>
                                <td class="col-2 text-center">
                                    {% if student.statut|nequal:"En attente" %}
                                    <a href="{% url 'reinscribe_student' student.student.id filiere.id year %}">
                                        {{ student.student.matricule }}
                                    </a>
                                    {% else %}
                                    {{ student.student.matricule }}
                                    {% endif %}
                                </td>
                                <td class="col-4 text-center">{{ student.student.name }}</td>
                                <td class="col-2 text-center">{{ student.student.email }}</td>
                                <td class="col-2 text-center">{{ student.student.telephone }}</td>
                                <td class="col-1 text-center">{{ student.statut }}</td>
                                <td class="col-1 text-center">
                                    <a href="{% url 'enter_grades' student.student.id filiere.id year %}"
                                        class="btn btn-primary btn-sm">Notes</a>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    {% else %}
                    <h3 class="m-3 text-center text-success">
                        Aucun étudiant inscrit dans cette année actuellement
                    </h3>
                    {% endif %}
                </div>
            </div>
        </div>
        {% endfor %}
        {% else %}
        <div class="card">
            <div class="container">
                <h3 class="m-3 text-center text-success">
                    Les étudiants dans cette filière apparaitrons ici
                </h3>
            </div>
        </div>
        {% endif %}
    </div>
</section>
<!-- End Section des Étudiants -->

<!-- Formulaire pour ajouter une nouvelle année -->
<div class="modal fade" id="addYearModal" tabindex="-1" aria-labelledby="addYearModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-xl">
        <div class="modal-content">
            <form method="post">
                {% csrf_token %}
                <div class="modal-header">
                    <h5 class="modal-title" id="addYearModalLabel">Ajouter une nouvelle année</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="mb-5">
                        <label for="year" class="form-label">Année</label>
                        <input type="number" class="form-control" id="year" name="year" max="7" min="1" required>
                    </div>
                    <div class="mb-3">
                        <label for="num_ue_semester_1" class="form-label">Nombre d'UEs pour le semestre 1</label>
                        <input type="number" class="form-control" id="num_ue_semester_1" name="num_ue_semester_1"
                            required>
                    </div>
                    <div id="ues_inputs_sem1" class="mb-5">
                        <!-- Inputs pour les UEs du semestre 1 -->
                    </div>
                    <div class="mb-3">
                        <label for="num_ue_semester_2" class="form-label">Nombre d'UEs pour le semestre 2</label>
                        <input type="number" class="form-control" id="num_ue_semester_2" name="num_ue_semester_2"
                            required>
                    </div>
                    <div id="ues_inputs_sem2" class="mb-5">
                        <!-- Inputs pour les UEs du semestre 2 -->
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
                    <button type="submit" class="btn btn-primary">Enregistrer</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Formulaire pour inscrire un étudiant dans la filière -->
<div class="modal fade" id="inscriptionModal" tabindex="-1" aria-labelledby="inscriptionModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-xl">
        <div class="modal-content">
            <form action="{% url 'inscription_fil' filiere.id %}" method="post">
                {% csrf_token %}
                <div class="modal-header">
                    <h5 class="modal-title" id="inscriptionModalLabel">Inscrivez un étudiant en {{ filiere.sigle }}</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="mb-5">
                        <label for="ins_matricule" class="form-label"><b>Matricule</b></label>
                        <input type="number" class="form-control" id="ins_matricule" name="ins_matricule" required>
                    </div>
                    <div class="mb-5">
                        <label for="ins_name" class="form-label"><b>Nom</b></label>
                        <input type="text" class="form-control" id="ins_name" name="ins_name" required>
                    </div>
                    <div class="mb-5">
                        <label for="ins_email" class="form-label"><b>Email</b></label>
                        <input type="email" class="form-control" id="ins_email" name="ins_email" required>
                    </div>
                    <div class="mb-5">
                        <label for="ins_telephone" class="form-label"><b>Numéro de téléphone</b></label>
                        <input type="tel" class="form-control" id="ins_telephone" name="ins_telephone" required>
                    </div>
                    <div class="mb-5">
                        <label for="ins_current_year" class="form-label"><b>Année d'étude</b></label>
                        <select class="form-select" id="ins_current_year" name="ins_current_year" required>
                            <option value="">Sélectionnez l'année d'étude</option>
                        </select>
                    </div>
                    <div>
                        <label for="ins_academic_year" class="form-label"><b>Année académique</b></label>
                        <input type="text" class="form-control" id="ins_academic_year" name="ins_academic_year"
                            required>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
                    <button type="submit" class="btn btn-primary">Enregistrer</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Modal d'erreur -->
<div class="modal fade" id="errorModal" tabindex="-1" aria-labelledby="errorModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="errorModalLabel">! ! !</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                {% if messages %}
                <div class="alert alert-danger text-center pb-0">
                    <ul>
                        {% for message in messages %}
                        <p>{{ message }}</p>
                        {% endfor %}
                    </ul>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>

<script>
    // Script pour ajouter dynamiquement les champs pour les UEs par semestre
    document.addEventListener('DOMContentLoaded', function () {
        // Affichage du Modal d'erreur
        {% if messages %}
        var errorModal = new bootstrap.Modal(document.getElementById('errorModal'));
        errorModal.show();
        {% endif %}

        // Fonction pour générer les champs d'entrée pour les UEs en fonction du nombre spécifié
        function generateUEInputs(numUe, semester) {
            let html = '';
            for (let i = 1; i <= numUe; i++) {
                html += `
                    <div class="row p-2">
                        <div class="col-6 pr-2">
                            <label for="ue_name_${semester}_${i}" class="form-label">Nom de l'UE</label>
                            <input type="text" class="form-control" id="ue_name_${semester}_${i}" name="ue_name_${semester}_${i}" required>
                        </div>
                        <div class="col-3" pr-2>
                            <label for="ue_sigle_${semester}_${i}" class="form-label">Sigle de l'UE</label>
                            <input type="text" class="form-control" id="ue_sigle_${semester}_${i}" name="ue_sigle_${semester}_${i}" required>
                        </div>
                        <div class="col-3">
                            <label for="ue_credit_${semester}_${i}" class="form-label">Nombre de crédit de l'UE</label>
                            <input type="number" class="form-control" id="ue_credit_${semester}_${i}" name="ue_credit_${semester}_${i}" required>
                        </div>
                    </div>
                `;
            }
            return html;
        }

        // Écouteurs d'événements pour les champs de nombre d'UEs par semestre
        const numUEInput1 = document.getElementById('num_ue_semester_1');
        const uesInputsContainer1 = document.getElementById('ues_inputs_sem1');

        numUEInput1.addEventListener('input', function () {
            uesInputsContainer1.innerHTML = '';
            const numUe = parseInt(this.value);
            const html = generateUEInputs(numUe, 1);
            uesInputsContainer1.innerHTML = html;
        });

        const numUEInput2 = document.getElementById('num_ue_semester_2');
        const uesInputsContainer2 = document.getElementById('ues_inputs_sem2');

        numUEInput2.addEventListener('input', function () {
            uesInputsContainer2.innerHTML = '';
            const numUe = parseInt(this.value);
            const html = generateUEInputs(numUe, 2);
            uesInputsContainer2.innerHTML = html;
        });

        const yearSelect = document.getElementById('ins_current_year');

        // Clear previous options
        yearSelect.innerHTML = '<option value="">Sélectionnez l\'année d\'étude</option>';

        // Fetch filieres for the selected faculty
        fetch(`/get_years/{{filiere.id}}/`)
            .then(response => response.json())
            .then(data => {
                data.year_fil.forEach(year => {
                    const option = document.createElement('option');
                    option.value = year.value;
                    option.textContent = year.text;
                    yearSelect.appendChild(option);
                });
            });
    });

    document.getElementById('ins_matricule').addEventListener('input', function () {
        const matricule = this.value;
        const nameInput = document.getElementById('ins_name');
        const emailInput = document.getElementById('ins_email');
        const telephoneInput = document.getElementById('ins_telephone');

        nameInput.value = "";
        emailInput.value = "";
        telephoneInput.value = "";

        // Fetch filieres for the selected faculty
        fetch(`/get_std_info/${matricule}/`)
            .then(response => response.json())
            .then(data => {
                nameInput.value = data.name;
                emailInput.value = data.email;
                telephoneInput.value = data.telephone;
            });
    });
</script>

{% endblock %}